@{
    ViewBag.Title = "Signal R Game Of Life";
}
<script src="~/Scripts/Game/SignalRGame.js"></script>
<h2>Signal R Game Of Life</h2>

<div ng-app="lifeApp" ng-controller="lifeController as ctrl">

</div>