@model ConwaysGameOfLife.ViewModels.Game
<!DOCTYPE html>

<html>
<head>
    <title>Conway's Game Of Life</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-primary btn-lg active" role="button" href="/Game/Judge">Judge</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                @foreach (var row in Model.Matrix.Rows)
                {
                    <tr style="margin: 0; padding: 0;">
                        @foreach (var cell in row.Cells)
                        {
                            <td style="background-color: @(cell.IsAlive ? "green" : "cyan"); height: 10px; width: 10px; border: white 1px solid;"></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>