@model ConwaysGameOfLife.ViewModels.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Conway's Game Of Life</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <input type="button" href="/Game/Judge" value="Judge"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                @foreach (var row in Model.Matrix.Rows)
                {
                    <tr style="margin: 0; padding: 0;">
                        @foreach (var cell in row.Cells)
                        {
                            <td style="background-color: @(cell.IsAlive ? "green" : "cyan"); height: 10px; width: 10px;"></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>