@model ConwaysGameOfLife.ViewModels.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Conway's Game Of Life</title>
</head>
<body>
<div class="container-fluid">
    <a href="/Game/Judge">Judge</a>
    @foreach (var row in Model.Matrix.Rows)
    {
        <div style="margin: 0; padding: 0;">
            @foreach (var cell in row.Cells)
            {
                <div style="display: inline-block; height: 10px; width: 10px; background-color: @(cell.IsAlive ? "green" : "cyan"); margin: 0; padding: 0;"></div>
            }
        </div>
    }
</div>
</body>
</html>